.main-wrapper {
    background-color: #1a1b1d;
}

.display {
    background-color: #202124;
}

.display-input {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear-button {
    color: var(--main-color);
}

.operator-button {
    background-color: #202124;
}
.operator-button:hover {
    background-color: #292b2e;
}

.enter-button {
    background-color: var(--main-color);
}
.enter-button:hover {
    background-color: #f31847;
}

.operator {
    color: #838282;
}

button {
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 400;
    background-color: #282b31;
    color: var(--text-color);
    cursor: pointer;
    transition: border-color 0.25s;
    width: 75px;
    height: 65px;
}
button:hover {
    background-color: #2d2e35;
}